
.footer-policies {
    width: 30%;
}

.line {
    margin-top: 30px;
    margin-bottom: 30px;
    display:block;
    width:100%;
    height:2px;
    background: -moz-linear-gradient(left, rgba(30,87,153,0) 0%, rgba(45, 50, 47,0.98) 50%, rgba(45, 50, 47,1) 51%, rgba(225,228,226,0) 99%, rgba(229,229,229,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(45, 50, 47,0.98) 50%,rgba(45, 50, 47,1) 51%,rgba(225,228,226,0) 99%,rgba(229,229,229,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(30,87,153,0) 0%,rgba(45, 50, 47,0.98) 50%,rgba(45, 50, 47,1) 51%,rgba(225,228,226,0) 99%,rgba(229,229,229,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.white-line {
    margin-top: 30px;
    margin-bottom: 30px;
    display:block;
    width:100%;
    height:2px;
    background: -moz-linear-gradient(left, rgba(30,87,153,0) 0%, rgba(255, 255, 255,0.98) 50%, rgba(255, 255, 255,1) 51%, rgba(225,228,226,0) 99%, rgba(229,229,229,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(255, 255, 255,0.98) 50%,rgba(255, 255, 255,1) 51%,rgba(225,228,226,0) 99%,rgba(229,229,229,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(30,87,153,0) 0%,rgba(255, 255, 255,0.98) 50%,rgba(255, 255, 255,1) 51%,rgba(225,228,226,0) 99%,rgba(229,229,229,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@media(max-width: 550px) {
    .footer-policies{
        width: 100%;
    }
}

.addBtn {
    color: #ee2724;
    background-color: rgba(178, 198, 188, 0.9);
    border-color: transparent;
    border-width: 0;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;
}

.addBtn:hover{
    background-color: rgba(178, 198, 188, 0.4);
}

.complete{
    color: #4ab217;
    margin-left: 20px;
    margin-right: 0;
}

:lang(ar) .complete, :lang(ar) .incomplete{
    margin-left: 0;
    margin-right: 20px;
}

.incomplete{
    color: #ee2724;
    margin-left: 20px;
}

.white-popup {
    position: relative;
    background: transparent;
    padding: 5px;
    width: auto;
    max-width: 1000px;
    margin: 20px auto;
}

.accordion, .accordion2 {
    background-color: rgba(45, 50, 47, 1);
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-radius: 8px;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    margin-bottom: 10px;
}

:lang(ar) .accordion, :lang(ar) .accordion2 {
    text-align: right;
}

.active, .accordion:hover, .accordion2:hover {
    background-color: rgba(178, 198, 188, 0.4);
    color: #2D322F;
}

.panel {
    padding: 18px;
    display: none;
    background-color: rgba(178, 198, 188, 0.4);
    color: #2D322F;
    overflow: hidden;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
    text-align: left;
}

:lang(ar) .panel{
    text-align: right;
}

.accordion:after, .accordion2:after {
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
    content: "\f107";
    font-size: 13px;
    color: #ffffff;
    background-color: transparent;
    float: right;
    margin-left: 5px;
}

:lang(ar) .accordion:after, :lang(ar) .accordion2:after{
    float: left;
}

.active:after {
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
    content: "\f106";
    font-size: 13px;
    color: #2D322F;
    background-color: transparent;
    float: right;
    margin-left: 5px;
}

:lang(ar) .active:after {
    float: left;
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}
.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #09B9A8;
}

.section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #09B9A8 ;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-title p {
    margin-bottom: 0;
}


/*----- 1. Reset.css -----*/
.filterDiv {
    display: none;
}

.pdfBody {
    color: rgb(178, 198, 188);
    font-size: 22px;
    font-weight: 400;
    direction: rtl;
    text-align: center;
}
.pdf {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.pdf-iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.search-bar {
    background-color: #FFF;
    width: 100%;
    margin-top: 5px;
}

.search-bar .mail{
    border: 1px solid #2D322F;
    border-radius: 10px;
    outline: none;
    height: 50px;
    width: 40%;
    box-shadow: none;
    transition: all .3s;
    font-size: 16px;
    vertical-align: middle;
    line-height: 1.5;
    margin: 10px 0;
    color: #2D322F;
}

.search-bar .mail:hover{
    border: 2px solid #2D322F;
    border-radius: 10px;
    box-shadow: 0 3px 10px 6px rgba(45, 50, 47, 0.2);
}

.search-bar .submit-button {
    font-size: 20px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgb(178, 198, 188);
    background-color: rgba(178, 198, 188, 0.4);
    color: #cccccc;
    outline: none;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
}

.navbar-collapse .navbar-nav .search-screen-size-small{
    display: none;
}

.navbar-collapse .navbar-nav .search-screen-size-small{
    display: none;
}

.search-screen-size-big{
    display: block;
}

.top-padding-center{
    padding-top: 22%;
}

@media(max-width: 1060px){
    .navbar-collapse .navbar-nav .search-screen-size-small{
        display: block;
    }
    .search-screen-size-big{
        display: none;
    }

    .top-padding-center{
        padding-top: 60%;
    }
}

@media(max-width: 1060px){
    .search-bar .mail{
        width: 40%;
    }
}

@import url(//db.onlinewebfonts.com/c/6184b9bbcb2982ca518dc0c37b9d3199?family=HelveticaNeueLT+Arabic+55+Roman);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
}
@font-face {font-family: "HelveticaNeueLT Arabic 55 Roman"; src: url("//db.onlinewebfonts.com/t/6184b9bbcb2982ca518dc0c37b9d3199.eot"); src: url("//db.onlinewebfonts.com/t/6184b9bbcb2982ca518dc0c37b9d3199.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/6184b9bbcb2982ca518dc0c37b9d3199.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/6184b9bbcb2982ca518dc0c37b9d3199.woff") format("woff"), url("//db.onlinewebfonts.com/t/6184b9bbcb2982ca518dc0c37b9d3199.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/6184b9bbcb2982ca518dc0c37b9d3199.svg#HelveticaNeueLT Arabic 55 Roman") format("svg"); }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

.show{
    display: block;
}

.hide{
    display: none;
}

body {
    line-height: 1;
    width: 100%;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 5px solid #FFF;
    width: 60%;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.show-img {
    display: block;
    width: 100%;
    height: auto
}

.show-img-course {
    display: block;
    max-width: 100%;
    height: auto
}

#map {
    height: 300px;
    width: 100%;
}

.article-title {
    font-size: 24px;
    float: left;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
}

:lang(ar) .article-title {
    float: right;
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
}

.video-title {
    font-size: 24px;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    text-align: left;
    float:left;
    line-height: 1.5;
}

:lang(ar) .video-title {
    float: right;
    text-align: right;
}

.editDeleteIcons{
    float: right;
    font-size: 24px;
}

@media (min-width: 991px){
    .titleHeight{
        height: 70px
    }
}
:lang(ar) .editDeleteIcons{
    float: left;
}

.articleImg {
    float: left;
}

:lang(ar) .articleImg {
    float: right;
}

.articleCategory {
    text-align:left;
    color: #364f87;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px
}

:lang(ar) .articleCategory {
    text-align:right;
}

.articleWriter {
    text-align:left;
    color: #2D322F;
    font-size: 14px;
    font-weight: 400;
    width: auto;
}

:lang(ar) .articleWriter {
    text-align:right;
}

.articleBody {
    color: #969696;
    font-size: 16px;
    padding-bottom: 10px;
    text-align: left;
}

:lang(ar) .articleBody {
    text-align: right;
}

.articleDate{
    float: right;
    color: #2D322F;
    font-size: 14px;
    font-weight: 400;
    width: auto;
}
:lang(ar) .articleDate{
    float: left;
}

.showCategory{
    color: #364f87;
    text-align: left;
}

:lang(ar) .showCategory{
    text-align: right;
}
/* --- Common Styles ---*/

h1 {
    font-size: 16px;
}

/*----- Helper Classes -----*/

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
::-webkit-scrollbar {
	display: none;
}
*/
h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
}

::-moz-selection {
    color: #FFFFFF;
    background: #00aeda;
}

select{
    text-overflow: ellipsis;
}

::selection {
    color: #FFFFFF;
    background: #00aeda;
}

.nopadding {
    padding: 0;
}

.custompadding {
    padding-left: 5px;
    padding-right: 5px;
}

.no-margin {
    margin-right: 0;
    margin-left: 0;
}

.underline {
    display: inline;
    border-bottom: 3px solid #111;
    padding-bottom: 0;
}

.after-line {
    height: 3px;
    width: 100px;
    background: #001CFF;
    margin-top: -10px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

.sup-title {
    display: inline-block;
    font-size: 1em;
    padding: 4px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    background: #000000;
    margin: 0 0 20px 0;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 1;
    background-color: #F2F2F2;
    z-index: 9999;
    text-align: center;
}

#loading-image {
    display: inline;
    top: 40%;
    position: relative;
    z-index: 9999;
}

.logo {
    margin: 0 auto;
    padding: 0 0;
    z-index: 111;
}

.logo:hover, .logo:focus {
    text-decoration: none;
    color: #FFF;
}


/* ------ Navbar Styling Starts ----- */


.navbar {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    padding-top: 5px;
    letter-spacing: 1px;
    height: fit-content;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    -webkit-backface-visibility: hidden;
}

.navbar-default {
    transition: all 0.6s ease;
    border-color: transparent;
    background-color: #FFF;
    height: 85px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-default .navbar-toggle {
    border-radius: 0;
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #2D322F;
}

.navbar-default .navbar-brand .navbar-toggle .collapsed {
    font-size: 10px;
    color: #2D322F;
}

.navbar-default .navbar-brand {
    color: #2D322F;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
    width: 220px;
    margin-top: 15px;
}

@media(max-width: 1060px){
    .navbar-default .navbar-brand {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
        width: 170px;
        top: -10%;
    }
}

.navbar-default .navbar-brand:hover {
    transition: 1s;
}

.navbar-default .navbar-nav > li > a {
    color: #2D322F;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    text-align: left;
    font-size: 16px;
    padding: 30px 8px;
}

.navbar-default .dropdown-menu > li > a {
    color: #2D322F;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    text-align: left;
    font-size: 16px;
    padding: 10px;
}

@media (max-width: 1060px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 16px;
        padding: 15px;
    }
}

:lang(ar) .navbar-default .navbar-nav > li > a {
    text-align: right;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ee2724;
}

.navbar-default .navbar-nav > .active > a {
    background: transparent;
    color: #ee2724;
}


.navbar-default .navbar-nav > .active > a:hover {
    background: transparent;
    color: #ee2724;
}

.navbar-default .navbar-nav > .active > a:focus {
    background: transparent;
    color: #ee2724;
}

.navbar-default .navbar-collapse {
    border: 0 !important;
    background-color: transparent;
}

.navbar-default .navbar-nav .open .dropdown-toggle {
    color: #ee2724;
}

.navbar-default .nav-white > li > a {
    color: #FFFFFF;
}

.navbar-default .nav-white > li > a:hover {
    color: #ee2724;
}

.navbar-default .navbar-brand.nav-white {
    color: #FFFFFF;
    font-size: 21px;
    letter-spacing: 1px;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
}

/*---------- Media Queries ---------*/

@media only screen and (max-width: 1060px) {

    .navbar {
        padding-top: 5px;
        height: 60px;
    }

    .navbar-default {
        border: 0;
        background-color: #FFF;
    }

    .navbar-default .navbar-collapse {
        text-align: center;
        border: transparent;
        background-color: #FFF;
        box-shadow: 0 0 5px #2D322F;
    }

    .navbar-default .navbar-collapse {
        border: 0 transparent;
    }

    .navbar-default .navbar-nav > li > a {
        color: #2D322F;
    }

    .navbar-default .navbar-nav > li > a:hover {
        color: #ee2724;
    }

    .navbar-default .navbar-brand {
        color: #FFFFFF;
        padding: 5px;
    }

    .navbar-default .navbar-brand.nav-white {
        color: #FFFFFF;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #2D322F;
    }
}

@media only screen and (min-width: 240px) {


    .navbar.past-main {
        font-size: 14px;
        padding-top: 5px;
        background-color: #FFF;
        -webkit-transition: all 0.6s;
        -moz-transition: all 0.6s;
        -o-transition: all 0.6s;
        transition: all 0.6s;
    }

    .navbar-default .past-main .navbar-brand {
        color: #2D322F;
    }

    .navbar-default.past-main .navbar-toggle .icon-bar {
        background-color: #2D322F;
    }

    .navbar-default.past-main .navbar-nav > li > a {
        color: #2D322F;
        -webkit-transition: color 0.5s;
        transition: color 0.5s;
    }

    .navbar-default.past-main .navbar-nav > li > a:hover {
        color: #ee2724;
    }

    .navbar-default.past-main .navbar-nav > .active > a {
        background: transparent;
        color: #ee2724;
    }


    .navbar-default.past-main .navbar-nav > .active > a:hover {
        background: transparent;
        color: #ee2724;
    }

    .navbar-default.past-main .navbar-nav > .active > a:focus {
        background: transparent;
        color: #ee2724;
    }

}

:lang(ar) .navbar-nav li {
    float: right;
}

@media (max-width: 1060px){
    :lang(ar) .navbar-nav li {
        float: none;
    }
}
.navbar-default .nav-white .navbar-toggle .icon-bar {
    background-color: #2D322F;
}

.navbar-default.past-main .nav-white .navbar-toggle .icon-bar {
    background-color: #2D322F;
}

/* ------------------------------------------------------
-------------- Main Section Styling Starts --------------
--------------------------------------------------------*/


#main {
    height: 100%;
}


/* ----- Hero Section Styling Starts ----- */

.hero-section {
    height: 100%;
    background: #FFFFFF;
    padding: 150px 0 0 0;
}

.hero-content {
    padding: 100px 0 100px 0;
    overflow: hidden;
}

.hero-content h1 {
    font-size: 34px;
    font-weight: 400;
    color: #262626;
    line-height: 1.2;
    letter-spacing: -1px;
    margin: 0 0 20px 0;
}

.hero-content p {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    font-size: 14px;
    color: #A1A1A1;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 25px 0;
}


.btn-action {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    background-color: #00aeda;
    border: 1px solid #00aeda;
    border-radius: 0;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1;
    padding: 20px 42px;
    text-transform: uppercase;
    outline: none;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
}

.btn-action:hover, .btn-action:focus,
.btn-action:active, .btn-action:active:focus {
    background: transparent;
    outline: none;
    color: #00aeda;
    border-color: #00aeda;
}


.product .btn-action {
    background-color: transparent;
    border: 1px solid #82714a;
    color: #82714a;
}

.product .btn-action:hover, .product .btn-action:focus {
    background: #92714A;
    color: #FFFFFF;
    border-color: #82714A;
}


/* ----------- App Home ---------*/

.software .hero-section {
    padding: 100px 0 0 0;
    background: #F9F9F9;
}

.software .hero-content h1 {
    font-size: 34px;
    font-weight: 600;
    color: #444444;
    margin: 0 0 20px 0;
}


.software .btn-action {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    background-color: #3f51b5;
    border: 1px solid #3f51b5;
    border-radius: 50px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1;
    padding: 12px 24px;
    text-transform: uppercase;
    outline: none;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
}

.software .btn-action:hover, .software .btn-action:focus,
.software .btn-action:active, .software .btn-action:active:focus {
    background: transparent;
    outline: none;
    color: #3f51b5;
    border-color: #3f51b5;
}

.software .hero-section img {
    margin: 0 auto;
}


/*---------------- Form Home Styling ------------------- */

.form .hero-section {
    background-size: cover;
    padding: 150px 0 0 0;
}

.form .hero-content {
    padding: 50px 0 50px 0;
    overflow: hidden;
}

.form img {
    margin: 0 auto;
}


.form .hero-content h1 {
    font-size: 34px;
    font-weight: 900;
    color: #fff;
    line-height: 1.2;
    letter-spacing: -1px;
    margin: 0 0 20px 0;
}

.form .hero-content p {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 25px 0;
}

.form .sub-form {
    padding: 30px 0 0 0;
    text-align: left;
}


.form .subscribe-form .submit-button {
    font-size: 0.9em;
    height: 42px;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    width: 60%;
    border: 2px solid #2D322F;
    background-color: #2D322F;
    color: #FFFFFF;
    outline: none;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
}

.form .forms-form .submit-button, .submit-button , .cart-button {
    font-size: 0.9em;
    height: 42px;
    border-radius: 5px;
    margin: 0;
    padding: 7px;
    border: 2px solid #2D322F;
    background-color: #2D322F;
    color: #FFFFFF;
    outline: none;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
}

.form .forms-form .submit-button,.cart-button {
    font-size: 0.9em;
    height: 42px;
    border-radius: 5px;
    margin: 0;
    padding: 7px;
    border: 2px solid #364f87;
    background-color: #364f87;
    color: #FFFFFF;
    outline: none;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
}

.form .subscribe-form .submit-button:hover, .submit-button:hover {
    border-color: #2D322F;
    background-color: #FFF;
    color: #2D322F;
    box-shadow: 0 4px 8px 0 rgba(45, 50, 47, 0.2), 0 6px 20px 0 rgba(45, 50, 47, 0.19);
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
}

.form .subscribe-form .cart-button:hover, .cart-button:hover {
    border-color: #364f87;
    background-color: #FFF;
    color: #364f87;
    box-shadow: 0 4px 8px 0 rgba(45, 50, 47, 0.2), 0 6px 20px 0 rgba(45, 50, 47, 0.19);
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
}

.form .forms-form .submit-button:hover {
    border-color: #2D322F;
    background-color: #2D322F;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
}

.form .btn-action {
    background: #00aeda;
    border-color: #00aeda;
    color: #FFFFFF;
}

.form .btn-action:hover {
    background: transparent;
    border-color: #00aeda;
    color: #00aeda;
}


/*-----------------------------------------------------
-------------- Image Bg Styling Starts ----------------
------------------------------------------------------*/


.image-bg .hero-section {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../images/Infomation.jpeg) no-repeat center center;
    background-size: cover;
    padding: 150px 0 100px 0;
}

.image-bg .hero-content h1 {
    font-weight: 600;
    color: #FFFFFF;
}

.image-bg .hero-content p {
    color: #FFFFFF;
}


/* ------------ Signup Hero Section ------------ */

.signup .hero-section {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(../images/banner.jpg) no-repeat center center;
    background-size: cover;
    padding: 150px 0 100px 0;
}

.signup .hero-content {
    padding: 50px 0 100px 0;
}

.signup .hero-content h1 {
    font-size: 34px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 1.2;
    letter-spacing: 0;
}

.signup .hero-content p {
    color: #FFFFFF;
}

.signup-form {
    padding: 25px 25px 30px 25px;
    background: #00aeda;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
}

.signup-form h1 {
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 1.4;
    text-transform: capitalize;
    text-align: center;
    margin: 20px 0 30px 0;
}

.signup-form form textarea {
    height: 100px;
}

.signup-form form .input-error {
    border-color: #19b9e7;
}

.signup-form p {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    font-size: 12px;
    color: #DDDDDD;
    margin: 25px 0 10px 0;
}

.form-group {
    margin-bottom: 20px;
}


.signup .btn-action.btn-round {
    background: #00aeda;
    border-color: #00aeda;
    color: #FFFFFF;
    font-size: 15px;
    padding: 12px 24px;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 30px;
}

.signup .btn-action.btn-round:hover, .signup .btn-action.btn-round:focus {
    background: transparent;
    color: #00aeda;
    border-color: #00aeda;
}


.signup .btn-action {
    background: #00aeda;
    border-color: #00aeda;
    color: #FFFFFF;
}

.signup .btn-action:hover {
    background: transparent;
    border-color: #00aeda;
    color: #00aeda;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
textarea,
textarea.form-control {
    height: 45px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #2D322F;
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #FFF;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: 0 0 5px #ee2724;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

textarea,
textarea.form-control {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus,
textarea.form-control:focus {
    outline: 0;
    background: #FFF;
    border-color: #2D322F;
    border-width: 2px;
    box-shadow: 0 3px 10px 6px rgba(0, 0, 0, 0.2);
}

input[type="text"]:-moz-placeholder, textarea:-moz-placeholder, textarea.form-control:-moz-placeholder {
    color: #888;
}

input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder {
    color: #888;
}

input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder {
    color: #888;
}


.signup-form button.btn {
    height: 45px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #111111;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    color: #FFFFFF;
    text-transform: uppercase;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.signup-form button.btn:hover {
    opacity: 0.6;
    color: #FFFFFF;
}

.signup-form button.btn:active {
    outline: 0;
    opacity: 0.6;
    color: #FFFFFF;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.signup-form button.btn:focus {
    outline: 0;
    opacity: 0.6;
    background: #19b9e7;
    color: #fff;
}

.signup-form button.btn:active:focus, button.btn.active:focus {
    outline: 0;
    opacity: 0.6;
    background: #19b9e7;
    color: #fff;
}

@media only screen and (max-width: 991px) {
    .signup-form {
        max-width: 500px;
        margin: 0 auto;
    }
}


/*-------------------------------------------------------
---------------- Slider Section Styling -----------------
--------------------------------------------------------*/

.slider-pro .sp-slide {
    background: #222222;
}

.slider-pro h2.sp-layer {
    font-size: 44px !important;
    color: #111111;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1.3;
    text-align: left;
}

.slider-pro p.sp-layer {
    font-size: 16px;
    color: #A1A1A1;
    line-height: 1.4;
}

.slider-pro a {
    text-decoration: none;
    color: #444444;
    -webkit-transition: 0.5s !important;
    -moz-transition: 0.5s !important;
    transition: 0.5s !important;
}

.slider-pro .link-color {
    text-decoration: none;
    color: #111;
    -webkit-transition: 0.5s !important;
    -moz-transition: 0.5s !important;
    transition: 0.5s !important;
}

.slider-pro a:hover {
    color: #999999;
}


@media only screen and (max-width: 768px) {

    .slider-pro h2.sp-layer {
        font-size: 34px !important;

    }
}


/* -----------------------------------------------------
--------------- App Home Styling starts ----------------
--------------------------------------------------------*/


.app .hero-section {
    padding: 50px 0 0 0;
}

.app .hero-content {
    padding: 100px 0 100px 0;
}

.app img {
    margin: 0 auto;
}


.app-info h1 {
    font-size: 34px;
    font-weight: 600;
    color: #404040;
    margin-top: 30px !important;
}

.app-info h4 {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #3C4B5D;
    line-height: 1.4;
    margin-top: 20px;
}

.app-info i {
    margin-top: 15px;
    display: inline-block;
}

.app-info span {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #222222;
}

.app-info .ion {
    font-size: 1em;
    color: #ff8000;
}

.download-buttons {
    margin-top: 25px;
    margin-bottom: 25px;
}

.download-buttons img {
    margin-left: 5px;
    margin-right: 5px;
}


.app .btn-action {
    color: #FFFFFF;
    background: #00aeda;
    border-color: #00aeda;
    border-radius: 30px;
}

.app .btn-action:hover {
    color: #00aeda;
    background: #222225;
    border-color: #222225;
}


/*----------------------------------------------------
-------------- Split Home Coming Soon ----------------
-----------------------------------------------------*/


.cs-main .left-section {
    background-color: #F2F2F2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.cs-main .right-section {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 20px 0 20px;
    width: 50%;
    height: 100%;
    background: #FFFFFF;
    z-index: 99;
    overflow: hidden;
    overflow-y: auto;
}

.cs-main .hero-section {
    padding: 120px 0 0 0;
    background: #FFFFFF !important;
}

.cs-main .hero-content {
    padding: 50px 0 0 0;
}

.cs-main .app-info h1 {
    font-weight: 600;
    font-size: 42px;
}

.cs-main .left-section {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/banner.jpg) no-repeat center center;
    background-size: cover;
}


@media only screen and (max-width: 801px) {

    .cs-main .right-section {
        position: relative;
        width: 100%;
    }

    .cs-main .hero-section {
        padding: 50px 0 0 0;
    }


    .cs-main .left-section {
        position: relative;
        width: 100%;
        min-height: 100vh;
    }
}


/*-------------------------------------------------
----------- About Section Styling Starts ----------
--------------------------------------------------*/

.about {
    padding: 100px 0 100px 0;
    background: #F1F1F1;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
}

.about-content h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    font-size: 24px;
    line-height: 1.2;
    color: #111111;
}

.about-content h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #111111;
    margin: 50px 0 0 0;
}


/* ----- Client Sectiion Styling ----- */

.client-section {
    background-color: #00aeda;
    padding: 5px 0 0 0;
}

.clients .single {
    padding: 25px 0 25px 0;
}

.clients .single img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.6;
}


/*----------------------------------------------------
----------- Pitch Section Styling Starts ----------
-----------------------------------------------------*/


.pitch {
    padding: 100px 0 100px 0;
    background: #2D322F;
}

.pitch-intro {
    max-width: 650px;
    margin: 0 auto;
    padding: 0 0 100px 0;
}

.pitch-intro h1 {
    font-size: 37px;
    font-weight: 900;
    line-height: 1.2;
    color: #FFF;
    margin: 0 0 30px 0;
}


.pitch-intro p {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #A1A1A1;
    letter-spacing: 0;
}

.pitch-icon {
    margin: 0 0 10px 0;
    background: #00aeda;
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 50%;
}

.pitch-icon i {
    font-size: 34px;
    color: #FFFFFF;
    position: absolute;
    left: 0;
    right: 0;
    top: 13px;
}

.pitch-content {
    padding: 10px 0 50px 0;
}

.pitch-content h1 {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0;
    color: #FFF;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.pitch-content p {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #A1A1A1;
    letter-spacing: 0;
}


/*----------------------------------------------------
----------- Features Icon Styling Starts -------------
-----------------------------------------------------*/

.icon-features {
    padding: 100px 0 0 0;
}

.icon-features-intro {
    padding: 0 0 50px 0;
}

.icon-features-intro h1 {
    font-size: 34px;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 0 0 10px 0;
    text-align: center;
}

.icon-features-intro p {
    font-size: 16px;
    color: #A1A1A1;
    text-align: center;
    margin: 0 0 30px 0;
}

.f-single {
    position: relative;
    padding: 10px 0 80px 0;
}

.f-icon i {
    font-size: 54px;
    font-weight: bold;
    position: absolute;
    left: 0;
}

.f-content {
    padding-left: 80px;
}

.f-content h2 {
    font-size: 21px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.f-content p {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #4D4D4D;
    line-height: 1.5;
    text-align: left;
}


/*----------------------------------------------------
----------- Features Section Styling Starts ----------
-----------------------------------------------------*/


.features {
    padding: 25px 0 25px 0;
}

.features-inner {
    width: 100%;
}

.features .features-list {
    padding: 20px 0 0 0;
    text-align: center;
}

.features .features-list h1 {
    font-size: 26px;
    font-weight: 400;
    line-height: 1;
    color: #222222;
    margin: 0 0 30px 0;
}

.features .features-list ul {
    list-style-type: circle;
    padding-left: 20px;
    text-align: center;
}


.features .features-list ul li {
    display: block;
    margin: 0 0 15px 0;
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: #A1A1A1;
}

/* ----- App Features List ----- */

.software .features {
    padding: 100px 0 100px 0;
}

.software .features .features-list h1 {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1.2;
    color: #222222;
    margin: 20px 0 20px 0;
}

.software .features-list p {
    margin: 0 0 25px 0;
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    color: #A1A1A1;
}

.software .features .features-list ul {
    list-style-type: disc;
    padding-left: 20px;
}


.software .features .features-list ul li {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    display: block;
    font-size: 13px;
    margin: 0 0 15px 0;
    color: #A1A1A1;
}


/* --------------- Feature Sub ------------ */

.feature-sub .sub-inner h1 {
    font-size: 27px;
    font-weight: 500;
    line-height: 1.5;
    color: #FFFFFF;
    margin: 0 0 30px 0;
}

.feature-sub .sub-inner .btn-action {
    color: #FFFFFF;
    background: #00aeda;
    border-color: #00aeda;
}

.feature-sub .sub-inner .btn-action:hover {
    color: #00aeda;
    background: transparent;
    border-color: #00aeda;
}

.feature-sub {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(../images/Infomation.jpeg) no-repeat center center;
    background-size: cover;
    padding: 150px 0 150px 0;
}

.sub-inner {
    padding: 0 10% 0 10%;
    text-align: center;
    float: left;
}

/* --------- App Features Sub ------- */


.software .feature-sub {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.99)), url(../images/banner.jpg);
    background-size: cover;
    padding: 150px 0 150px 0;
}

.software .feature-sub .sub-inner h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    font-size: 34px;
    font-weight: 300;
    line-height: 1.1;
    color: #FFF;
    margin: 0 0 30px 0;
}


/*  --------------------------------------------------
------------- Reviews Section Styling ----------------
-----------------------------------------------------*/

.app-features {
    background: #FFFFFF;
    padding: 100px 0 100px 0;
}

.app-features h1 {
    font-size: 37px;
    font-weight: 900;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.app-features p {
    font-size: 16px;
    font-weight: 400;
    color: #A1A1A1;
    line-height: 1.4;
    margin: 10px 0 50px 0;
}


.app-features img {
    margin: 0 auto;
}

.app-features .features-left, .app-features .features-right {
    padding: 50px 0 0 0;
}

.app-features .icon {
    margin-top: 10px;
    margin-bottom: 20px;
}

.app-features .icon i {
    font-size: 60px;
    color: #00aeda;
}


.app-features .feature-single {
    margin-left: 0;
    margin-bottom: 50px;
}


.app-features .feature-single h1 {
    font-size: 15px;
    font-weight: 600;
    color: #222222;
    margin: 0 0 10px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.app-features .feature-single p {
    font-size: 17px;
    color: #A1A1A1;
    line-height: 1.4;
    letter-spacing: 1px;
    margin: 10px 0 0 0;
}


/*-------------------------------------------------------
------------- Split Features Section Styling ------------
--------------------------------------------------------*/

.split-features {
    background: #FFF;
    padding: 0;
    overflow: hidden;
}

.signup .split-features {
    background: #F2F2F2;
}

.split-image img {
    padding: 10px;
}

.img-responsive{
    display:block;
    max-width:100%;
    height: auto;
}

.banner-padding{
    padding-top: 80px;
}

@media(max-width: 1060px) {
    .banner-padding{
        padding-top: 60px;
    }
}
.img-team{
    display:block;
    max-width:200px;
    height: 200px;
}

.split-content {
    margin: 50px;
    text-align: justify;
}

.split-content h1 {
    font-size: 37px;
    font-weight: 900;
    padding-bottom: 30px;
    text-align: center;
    color: #2D322F;
}

.split-content .split-content-item h1, .split-content .split-content-item h2, .split-content .split-content-item h3 {
    color: #FFF;
}

.split-content h2 {
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 10px;
    text-align: center;
    color: #ee2724;
}

.split-content h3 {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: #ee2724;
}

.split-content p {
    font-size: 18px;
    line-height: 1.4;
    color: #2D322F;
    text-align: justify;
}

@media (max-width: 550px){
    .split-content {
        margin: 15px;
    }

    .split-content p {
        text-align: justify;
        line-height: 1.8;
        font-size: 16px;
    }
}

.article-body {
    color: #2D322F;
    font-size: 20px;
    font-weight: 100;
    text-align: justify;
    float: left;
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    line-height: 1.5;
}

:lang(ar) .article-body{
    direction: rtl;
    float: right;
}

.iframe {
    width: 100%;
    height: 80%;
    padding-top: 20px;
}

.iframe-courses {
    width: 90%;
    height: 80%
}

.iframe-video {
    width: 100%;
    height: 50%;
}

.iframe-exclusive{
    width: 100%;
    height: 90%;
}

@media (max-width: 550px){
    .article-body {
        text-align: left;
        padding: 5px;
        font-weight: 300;

    }
    :lang(ar) .article-body {
        text-align: right;
    }
}

@media (max-width: 1080px) {
    .iframe, .iframe-courses {
        width: 100%;
        height: 40%
    }
}

.split-content ul {
    list-style-type: disc;
    display: inline-block;
    margin: 30px 0 0 0;
}

.split-content ul li {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    margin-bottom: 15px;
    margin-left: 15px;
    color: #A1A1A1;
}

.split-features2 {
    background: #FFFFFF;
    padding: 50px 0 50px 0;
    overflow: hidden;
}


/*  --------------------------------------------------
------------- Reviews Section Styling ----------------
-----------------------------------------------------*/

.review-section {
    padding: 150px 0 150px 0;
    text-align: center;
    background: #00aeda;
}


.reviews {
    width: 100%;
}


.review-single img {
    width: 80px;
    height: 80px;
}

.review-text h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #222225;
    text-transform: uppercase;
}

.review-text .ion {
    display: inline-block;
    margin-top: 20px;
    font-size: 14px;
    color: #ff8000;
}

.review-text p {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding: 20px 10px 20px 10px;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #fff;
}


/*  --------------------------------------------------
------------- Pricing Section Styling ----------------
-----------------------------------------------------*/

.filterTag{
    color: #2D322F;
    font-weight: 400;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
}

.pricing {
    padding: 50px 0 100px 0;
}

.pricing-content {
    padding: 60px 0 0 0;
    text-align: center;
}

.pricing h1 {
    font-size: 28px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1.2;
}

.pricing h4 {
    font-size: 14px;
    font-weight: 400;
    color: #A1A1A1;
    margin: 10px 0 30px 0;
}

.pricing p {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #444444;
    line-height: 1.4;
}

.pricing .btn-buy {
    padding: 40px 0 20px 0;
}

.pricing .btn-buy img {
    display: inline;
}

.pricing .price-tag h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #A1A1A1;
    margin: 0 0 20px 0;
}


/* ----- Pricing Tables Styling Starts ----- */

.pricing-section {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 100px;
    background: #FFFFFF;
}

.pricing-intro {
    padding-bottom: 30px;
}

.pricing-intro h1 {
    font-size: 34px;
    color: #2D322F;
    font-weight: 600;
    text-transform: uppercase;
}

.pricing-intro h2 {
    font-size: 20px;
    color: #2D322F;
    font-weight: 400;
    padding-top: 20px;
}

.pricing-intro a {
    font-size: 20px;
    color: #ee2724;
    font-weight: 400;
    padding-top: 20px;
}


.pricing-intro p {
    font-size: 15px;
    color: #a1a1a1;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.pricing-section .table-left, .pricing-section .table-right {
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    background-color: transparent;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    border: transparent;
    width: 100%;
    border-radius: 10px;
    border: none
}

.pricing-col {
    padding: 20px;
    background-color: transparent;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    border: transparent;
    border-radius: 10px;
    border: none;
    display: inline-block;
}

.pricing-col h4 {
    font-size: 28px;
    padding-bottom: 30px;
    font-weight: 600;
    color: #ee2724;
}

.pricing-col h2 {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.pricing-col h3{
    font-size: 20px;
    font-weight: 500;
    color: #ee2724;
    padding-top: 20px;
}

.insta-width{
    width: 50px;
}

.pricing-details {
    padding: 20px;
}

.pricing-details .h1, .pricing-details .courseTitle{
    color: #2D322F;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    float: left;
}
@media (max-width: 550px) {
    .pricing-details .courseTitle{
        font-size: 14px;
    }
}
:lang(ar) .pricing-details .h1, :lang(ar) .pricing-details .courseTitle{
    float: right;
}

.pricing-details .courseTitle:hover{
    color: #EC3642;
    cursor: pointer;
}
.table-left .icon, .table-right .icon {
    font-size: 60px;
    margin: 0 auto;
    color: #00aeda;
}

.table-left .pricing-details .span, .table-right .pricing-details .span {
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #2D322F;
    margin-bottom: 20px;
}

.table-left .pricing-details h2, .table-right .pricing-details h2 {
    font-size: 18px;
    font-weight: 400;
    color: #2D322F;
    padding-top: 10px;
    text-align: justify;
    line-height: 1.5;
}

@media (max-width: 550px) {
    .pricing-details {
        padding: 0 0 10px 0;
    }

    .table-left .pricing-details h2, .table-right .pricing-details h2 {
        font-size: 16px;
        font-weight: 400;
        color: #2D322F;
        line-height: 1.8;
        padding-top: 10px;
    }
}

.table-left .pricing-details p, .table-right .pricing-details p {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #505050;
    letter-spacing: 1px;
    line-height: 1.4;
}

.table-left .pricing-details ul, .table-right .pricing-details ul {
    margin-top: 30px;
    margin-bottom: 50px;
}


.table-left .pricing-details li, .table-right .pricing-details li {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #7d7d7f;
    line-height: 1.4;
    margin-bottom: 10px;
}

.pricing-section .table-left:hover, .pricing-section .table-right:hover {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.pricing-section .table-left, .pricing-section .table-right {
    margin-top: 20px;
}

.pricing-section .table-center {
    margin-top: 0;
}

/* ----- Pricing Section Styling Ends ----- */


/* ----- Counter Section Styling Starts -----*/

.counter-section {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #F1F1F1;
}

.counter-section h3 {
    font-size: 28px;
    font-weight: 400;
    color: #222222;
}

.counter-icon {
    padding: 15px;
}

.counter-icon i {
    font-size: 48px;
    color: #00aeda;
}

.counter-text {
    margin-top: 10px;
    margin-bottom: 20px;
}

.counter-text h4 {
    font-size: 16px;
    font-weight: 400;
    padding: 0.5em;
    color: #222222;
}

/* -------- Counter Section Styling Ends --------- */

.subscribe-section {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FFF;
}

.forms-section {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FFF;
}


/* ----- CTA Section Styling Starts ----- */


.cta-sub {
    padding-top: 150px;
    padding-bottom: 150px;
    background: linear-gradient(to right, rgba(236, 54, 72, 0.85), rgba(236, 54, 72, 0.99));
    background-size: cover;
}

.cta-inner {
    text-align: center;
    float: none;
    padding: 0 7% 0 7%
}

.cta-sub .cta-inner h1 {
    font-size: 36px;
    color: #FFFFFF;
    font-weight: 900;
    line-height: 1.2;
    margin-top: 60px;
    margin-bottom: 30px;
}

.cta-inner h1, .cta-inner .h1 {
    font-size: 34px;
    color: #2D322F;
    font-weight: 900;
    line-height: 1.2;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-bottom: 30px;
    text-align: left;
    float: left;
}

:lang(ar) .cta-inner h1, :lang(ar) .cta-inner .h1 {
    text-align: right;
    float: right;
}

.addToCartBtn{
    float: right;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #2D322F;
    background-color: #ffffff;
    color: #2D322F;
}

:lang(ar) .addToCartBtn {
    float: left;
}

.addToCartBtn:hover{
    color: #ffffff;
    border: 2px solid #ffffff;
    background: #2D322F;
}

.showPdf {
    background: rgba(45, 50, 47, 1);
    width: 100%;
    padding: 10px 0 10px 0;
    border: none;
    border-radius: 8px;
    text-align: center;
}

.sectionPdf {
    width: 50%;
    padding: 5px;
    border: none;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

.showPdf h2:hover {
    font-weight: 800;
}

.addToCartBtn2{
    border-radius: 5px;
    border: none;
    padding: 10px 0 10px 0;
    width: 60%;
    background: #2D322F;
    color: #fff;
}

.addToCartBtn2:hover{
    color: #2D322F;
    background: #ffffff;
    border: 2px solid #2D322F;
}

@media (max-width: 550px) {
    .addToCartBtn2{
        width:70%;
        font-size: 12px;
    }
}

.checkoutBtn{
    border-radius: 5px;
    border: 0;
    padding: 10px 20px 10px 20px;
    width: 100%;
    background-color: #364f87;
    color: #fff;
    font-size: 22px;
    margin-bottom: 10px;
}

.checkoutBtn:hover{
    color: #364f87;
    background: #ffffff;
    border: 2px solid #364f87;
}

.checkoutBtn2{
    border-radius: 5px;
    border: 0;
    padding: 10px 20px 10px 20px;
    width: 100%;
    background-color: #fdca00;
    color: #fff;
    font-size: 22px;
    margin-bottom: 10px;
}

.checkoutBtn2:hover{
    color: #fdca00;
    background: #ffffff;
    border: 2px solid #fdca00;
}
:lang(ar) .cta-inner h1 {
    text-align: right;
    float: right;
}

@media (max-width: 1060px) {
    .cta-inner h1 {
        font-size: 22px;
    }
}
.cta-sub .cta-inner .h2 {
    font-size: 26px;
    color: #2D322F;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 30px;
}

.cta-inner .h2 {
    font-size: 26px;
    color: #2D322F;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 20px;
}

.cta-inner .h3 {
    font-size: 20px;
    color: #2D322F;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 10px;
}

.cta-sub .cta-inner p {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    font-size: 20px;
    color: #2D322F;
    font-weight: 300;
    line-height: 1.4;
}

.cta-inner p {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    font-size: 20px;
    color: #2D322F;
    font-weight: 300;
    line-height: 1.4;
}

.lesson{
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 300;
    line-height: 1.4;
}

.subscribe-form {
    text-align: left;
}

.forms-form {
    text-align: left;
}

.center-form {
    text-align: center;
}

.subscribe-form .mail {
    background-color: #FFF;
    border-color: #2D322F;
    border-radius: 5px;
    outline: none;
    height: 40px;
    width: 80%;
    padding: 0 20px 0 20px;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
}

.subscribe-form .smallInput{
    background-color: #FFF;
    border-color: #2D322F;
    border-radius: 5px;
    outline: none;
    height: 40px;
    width: 42%;
    padding: 0 20px 0 20px;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
    margin-bottom: 10px;
}

@media (max-width: 1024px) {
    .subscribe-form .smallInput {
        width: 90%;
        font-size: 14px;
    }

    .hide-small-devices{
        display: none;
    }
}

.social-icons{
    width: 50px;
    font-size: 28px;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
    background-color: #2D322F;
    color: #FFFFFF;
    padding: 8px;
    float: left;
}

.social-text{
    margin: 0;
    padding-left: 70px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left:3%;
    text-align: left;
    display: block;
    white-space: nowrap;
}

.social-text h2{
    font-size: 18px;
    direction: ltr;
}

.social-icons a {
    color: #fff;
}
.social-item .link{
    color: #2D322F;
}

.social-item .link:hover{
    color: #ee2724;
}

.social-item{
    position: relative;
    margin-bottom: 40px;
}

.forms-form .mail{
    background-color: #FFF;
    border-color: #2D322F;
    border-radius: 5px;
    outline: none;
    height: 40px;
    width: 60%;
    padding: 0 20px 0 20px;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
    margin-bottom: 20px;
    color: black;
    font-weight: 400;
}

.forms-form .mail::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #2D322F;
    opacity: 1; /* Firefox */
}

.mail{
    background-color: #FFF;
    border-color: #2D322F;
    border-radius: 5px;
    transition: all .3s;
    height:30px;
    vertical-align: middle;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;

}


.subscribe-form input {
    color: #222222;
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    padding: 0;
    font-size: 0.9em;
}

.forms-form input .forms-form textarea {
    color: #FFF;
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    padding: 0;
    font-size: 0.9em;
}

.forms-form label {
    color: #2D322F;
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    padding: 10px;
    font-size: 16px;
}

.forms-form .mail input::placeholder {
    color: #2D322F;
}

.error_message {
    color: #fc6e51;
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    padding-bottom: 15px;
    font-size: 13px;
    line-height: 30px;
}

#success_page {
    color: #9ce726;
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    padding-bottom: 10px;
    font-size: 12px;
}

#success_page h3 {
    font-size: 17px;
    font-weight: 400;
    color: #4ab217;
}

#success_page p {
    font-size: 12px;
    font-weight: 400;
    color: #b3b3b3;
}

/* ----- CTA Section Styling Ends ----- */


/* ------- Footer Section Styling Starts ------- */


.footer {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    background-color: #2D322F;
    width: 100%;
    overflow: hidden;
    padding: 20px;
    bottom: 0;
}

.contact {
    text-align: left;
}

.contact i {
    font-size: 42px;
    color: #00aeda;
    text-align: left;
}

.contact-details h2{
    font-size: 18px;
}

.contact-details i{
    font-size: 20px;
    margin-right: 20px;
}

.contact h1 {

    font-size: 21px;
    font-weight: 400;
    color: #FFF;
    margin: 10px 0 10px 0;
    text-align: left;
}

.contact p {

    font-size: 14px !important;
    font-weight: 400;
    color: #111111;
    line-height: 1.3;
    margin: 10px 0 20px 0 !important;
    text-align: left;
}

.contact a {

    font-size: 18px;
    font-weight: 400;
    color: #00aeda;
    text-decoration: none;
    display: inline-block;
}


.footer img {
    margin-bottom: 20px;
}

.footer-menu ul {
    list-style-type: none;
    margin: 10px 0;
}

.footer-menu li {
    display: block;
    line-height: 2;
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    font-size: 13px;
    padding-right: 15px;
    text-transform: capitalize;
    color: #A1A1A1;
}

.footer-menu li a {
    color: #00aeda;
    text-decoration: none;
}

.footer p {
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.3;
}

.footer-text p {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
    font-size: 12px;
    color: #00aeda;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 10px;
}


.product .footer .contact h1, .product .contact i, .product .footer .contact a, .product .footer-text p {
    color: #927f54;
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
}


/* -------------------------------------------------------
----------- Bact-to-Top Styling Starts Here --------------
---------------------------------------------------------*/


.back-to-top {
    background: rgba(0, 174, 218, 0.5);
    margin: 0;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    z-index: 90;
    display: none;
    text-decoration: none;
    color: #0E1729;
}

.back-to-top i {
    position: relative;
    left: 13px;
    top: 8px;
    font-size: 24px;
    color: #FFFFFF;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
}

.back-to-top:hover {
    background: rgba(0, 174, 218, 0.9);
    color: #FFFFFF;
}

.back-to-top:hover i {
    top: 6px;
}

.back-to-top:focus {
    color: #FFFFFF;
}


.product .back-to-top {
    background: rgba(146, 127, 84, 0.5);
}

.product .back-to-top:hover {
    background: rgba(146, 127, 84, 0.9);
}


/*----------------------------------------------------
------------- All ------------------------------------
--------------------- Media --------------------------
------------------------------- Queries --------------
-----------------------------------------------------*/

@media only screen and (min-width: 767px) {
    .logo {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .hero-section {
        padding: 150px 0 100px 0;
    }

    .form .hero-section {
        padding: 13% 0;
    }

    .form .hero-content {
        padding: 100px 0 100px 0;
        overflow: hidden;
    }

    .form .hero-content h1 {
        font-size: 54px;
    }

    .product .hero-content {
        padding: 150px 0 100px 0;
        text-align: left;
    }

    .hero-content h1 {
        font-size: 48px;
        margin: 0 0 20px 0;
    }

    .hero-content p {
        font-size: 14px;
    }

    .about-content h2 {
        font-size: 38px;
    }

    .software .hero-content h1 {
        font-size: 42px;
    }

    .image-bg .hero-content h1 {
        font-size: 54px;
    }


    .signup .hero-content h1 {
        font-size: 48px;
    }

    .features .features-list {
        padding: 100px 0 0 0;
        text-align: left;
    }

    .features .features-list ul li {
        font-size: 18px;
        display: list-item;
        text-align: left;
    }


    .software .features {
        padding: 100px 0 100px 0;
    }

    .software .features .features-list h1 {
        font-size: 34px;
    }

    .software .features .features-list {
        padding: 30px 0 0 0;
    }


    .software .features .features-list ul li {
        display: list-item;
        font-size: 14px;
        text-align: left;
    }


    .feature-sub {
        padding: 200px 0 200px 0;
    }

    .software .feature-sub .sub-inner h1 {
        font-size: 42px;
    }

    .split-content {
        text-align: justify;
    }

    .second {
        padding: 70px 10px 50px 350px;
    }

    .split-content h1 {
        font-size: 34px;
        text-align: center;
        padding-bottom: 30px;
    }

    .split-content split-content-item h1 {
        font-size: 34px;
        text-align: center;
        padding-bottom: 30px;
        color: #FFFFFF;
    }

    .second {
        padding: 70px 10px 50px 350px;
    }

    .pricing {
        padding: 100px 0 100px 0;
    }

    .pricing-content {
        text-align: left;
    }

    .cta-sub .cta-inner h1 {
        font-size: 36px;
    }

    .contact h1 {
        font-size: 19px;
    }

    .contact p {
        font-size: 13px !important;
    }

    .contact a {
        font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
        font-size: 14px;
    }

}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
    .features .features-list {
        padding: 80px 0 0 0;
    }

    .split-content {
        text-align: justify;
    }

}


@media screen and (min-width: 400px) and (max-width: 600px) {
    .pricing-section .table-left, .pricing-section .table-right {
        width: 100%;
    }

    .subscribe-form .mail {
        padding: 0 20px 0 20px;
        border-radius: 5px;
    }

    .subscribe-form .submit-button {
        padding: 0 5px 0 5px;
        border-radius: 0 5px 5px 0;
    }

}


@media screen and (max-width: 399px) {
    .pricing-section .table-left, .pricing-section .table-right {
        width: 100%;
    }

    .cta-sub {
        text-align: center;
    }

    .subscribe-form {
        text-align: center;
    }

    .subscribe-form .mail {
        padding: 0 20px 0 20px;
        border-radius: 5px;
    }

    .subscribe-form .submit-button {
        padding: 0 5px 0 5px;
        border-radius: 0 5px 5px 0;
        margin-top: 15px;
    }

    .form .sub-form .subscribe-form {
        text-align: left;
    }


    .form .sub-form .subscribe-form .mail {
        padding: 0 0 0 0;
        border-radius: 5px;
    }

    .form .sub-form .subscribe-form .submit-button {
        padding: 0 5px 0 5px;
        border-radius: 0 5px 5px 0;
        margin-top: 15px;
    }

    .back-to-top {
        right: 10px;
    }

    .second {
        padding: 0;
    }

}

@media only screen and (min-width: 991px) and (max-width: 1201px) {

    .app-features .features-left, .app-features .features-right {
        padding: 0 0 0 0;
    }

    .software .features .features-list {
        padding: 0 0 0 0;
    }

}

* {
    box-sizing: border-box
}

.mySlides {
    display: none
}

.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;

}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: relative;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
    float: right;
    border-radius: 3px 0 0 3px;
}

.prev{
    float: left;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
/* Fading animation */
.fadeSlideShow {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}
@-webkit-keyframes fadeSlideShow {
    from {opacity: .4}
    to {opacity: 1}
}


@keyframes fadeSlideShow {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}
/*---------------------------------------------------
------- Media Queries for Split Layout Ends ---------
---------------------------------------------------*/
.btn {
    background-color: #ffffff;
    color: #2D322F;
    border-color: #2D322F;
    border-radius: 10px;
    outline: none;
    height: 50px;
    width: 20%;
    padding: 0 10px 0 20px;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
    margin-bottom: 0px;
    font-weight: 400;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border-bottom: #2D322F;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #2D322F;
    padding: 12px 12px;
    display: block;
    font-size: 18px;
}

.dropdown-content a:hover {
    background-color: rgba(45, 50, 47,0.5);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn:hover{
    background-color: #FFF;
    color: #2D322F;
    box-shadow: 0 4px 8px 0 rgba(45, 50, 47, 0.2), 0 6px 20px 0 rgba(45, 50, 47, 0.19);
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    border: 2px solid #2D322F;
}
.dropdown:hover .btn {
    background-color: #ffffff;
}

.btn-link {
    margin: 15px;
}

.exclusive{
    color: #ee2724;
    background-color: #ffffff;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
/**
 * Profile image component
 */
.profile-header-container{
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    padding-bottom: 30px;
}

@media (max-width: 990px) {
    .profile-header-img {
        padding-bottom:0;
    }
}

.profile-header-img > img.img-circle {
    max-height: 200px;
    display: block;
    border: 2px solid #4ab217;
}

.profile-header {
    margin-top: 43px;
}

/**
 * Ranking component
 */
.rank-label-container {
    margin-top: -15px;
    /* z-index: 1000; */
    text-align: center;
}

.label.label-default.rank-label {
    background-color: #4ab217;
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
    font-size: 18px;
}

.pricing-section .pricing-details .text-profile
{
    color: #364f87;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
    float: none;
    font-size: 20px
}

@media(max-width: 500px) {
    .label.label-default.rank-label {
        font-size: 12px;
    }

    .pricing-section .pricing-details .text-profile{
        font-size: 14px
    }
}

.notification {
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: #ee2724;
    color: white;
}


